<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% for poker in player1 %}
        <img src="/static/poker/{{ poker }}"/>
    {% endfor %}
    <br>
    {% for poker in player2 %}
        <img src="/static/poker/{{ poker }}"/>
    {% endfor %}
    <br>
    <h1>{{ status }}</h1>
</body>
</html> -->
{% block title %}
    Game Page
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
<article role="img" aria-labelledby="illustration of an Apple-looking mini-keyboard with only the tab key">
    <button>tab</button>
  </article>
  
<div class="container">
    <form class="row g-3">
        <div class="col-12 col-md-6">
            <input type="text" class="form-control" name="username" placeholder="用户名">
        </div>
        <div class="col-12 col-md-6">
            <input type="submit" class="btn btn-primary" value="提交">
        </div>
    </form>
</div>
{% endblock %}