{% extends 'base.html' %}
{% block title %}
    User Page
{% endblock %}
{% block content %}
<!-- <!DOCTYPE html>
<html>
<head>
    <title>用户列表</title>
</head>
<body>
    <h1>所有用户</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>邮箱地址</th>
                <th>余额</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email_address }}</td>
                <td>{{ user.budget }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html> -->
<h2 class="text-center mt-4 mb-3">用户列表</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-4">
            <h5 class="mb-3">用户信息如下</h5>
            <p class="text-muted mb-3">点击更多“信息”对用户进行管理</p>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for user in users %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h6 class="card-title">用户名：{{ user.username }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">用户邮箱： {{ user.email_address }}</h6>
                            <p class="card-text"><strong>余额:{{ user.prettier_budget }}</strong></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}