{% extends 'base.html' %}
{% block title %}
    <h1>请登录</h1> 
{% endblock %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="confirmLogout()">确认登出</a>
            </li>
        {% endif %}
    </ul>
</nav>

<script>
function confirmLogout() {
    if (confirm("你确定要退出登录吗")) {
        window.location.href = "{{ url_for('logout_page') }}";
    }
}
</script>